body {
  background-color: beige;
}
h1 {
  text-align: center;
}
button {
  background-color: rgb(96, 176, 96);
  padding: 0.3rem;
  border-radius: 15px;
  border: none;
  border-color: none;
  color: white;
  text-align: center;
}
.input-section > form > div {
  background-color: rgb(163, 211, 253);
  align-items: center;
  padding: 1.5rem;
  border-radius: 15px;
  box-shadow: 3px 20px 31px -18px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 20px 31px -18px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 20px 31px -18px rgba(0, 0, 0, 0.75);
}
.input-section > form {
  display: grid;
  justify-content: center;
}
.done {
  background: transparent;
  border-width: 3px;
}
